/* Estilos básicos */
.slider-container {
    width: 100%; /* Largura do contêiner */
    /* Altura do contêiner */
    overflow: hidden; /* Esconde as imagens que saem da tela */
    position: relative;
  }
  
  .slider-content {
    display: flex; /* Alinha as imagens horizontalmente */
    flex-wrap: nowrap; /* Impede que as imagens quebrem para a próxima linha */
    width: 400%; /* 100% por imagem * 4 imagens */
    animation: slider 20s infinite; /* Nome da animação, duração e repetição */
  }
  
  .slider-content img {
    width: 25%; /* Cada imagem ocupa 25% da largura do contêiner */
    height: auto;
    object-fit: cover; /* Garante que a imagem cubra a área */
  }
  
  /* Animação para o movimento do carrossel */
  @keyframes slider {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0; /* Mantém a primeira imagem */
    }
    25% {
      margin-left: -100%; /* Move para a segunda imagem */
    }
    45% {
      margin-left: -100%; /* Mantém a segunda imagem */
    }
    50% {
      margin-left: -200%; /* Move para a terceira imagem */
    }
    70% {
      margin-left: -200%; /* Mantém a terceira imagem */
    }
    75% {
      margin-left: -300%; /* Move para a quarta imagem */
    }
    95% {
      margin-left: -300%; /* Mantém a quarta imagem */
    }
    100% {
      margin-left: 0; /* Volta para a primeira imagem para o loop */
    }
  }

  .segundoslide{
     width: 200px; /* Largura do contêiner */
     height: 200px;/* Altura do contêiner */
    overflow: hidden; /* Esconde as imagens que saem da tela */
    position: relative;
    
  }
  .segundo-2{
    display: flex; /* Alinha as imagens horizontalmente */
    flex-wrap: nowrap; /* Impede que as imagens quebrem para a próxima linha */
    width: 400%; /* 100% por imagem * 4 imagens */
    animation: slider 20s infinite; /* Nome da animação, duração e repetição */
  }

  .segundo-2 img{
    width: 25%; /* Cada imagem ocupa 25% da largura do contêiner */
    height: auto;
    object-fit: cover; /* Garante que a imagem cubra a área */

  }  
  