/* cabeçalho e menu  */

.imgcabecalho{
    width: 200px;
    height: 120px;
    margin-left: 15px;
}
.cabecalho{
    background-image: linear-gradient(135deg, #FCF9F9, #47A5AE );
    
}
body{
    background-color: #E8F7FF;
}
li{
    list-style: none;

}
ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 4em;
    
}
a{
    text-decoration: none;
    list-style: none;
    color: black;

}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    

}
.direitos{
    grid-column: 1 / span 3;
    text-align: center;
    margin-top: 15em;
}
.menu1{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}
.menu2{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    
}
button:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.menu2 a:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
nav a:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
} 
.redes a img:hover{
     box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.theme-a {
    background: transparent;
    color: #88899c;
  }
@media (prefers-color-scheme: dark) {
    body{
        background-image: linear-gradient(135deg, #252222, #015c64 ); 
    }
    .cabecalho{
        background-image: linear-gradient(135deg, #252222, #015c64 );        
    }
    p, h1, h2, h3, a{
        color: aliceblue;
    }
    .botao1{
        background-color: transparent;
    }
    button{
        background-color: transparent;
    }

  }

.theme-b {
    background: #444477;
    color: #bbbbdd;
  }
/* @media (prefers-color-scheme: light) {
    .theme-b.adaptive {
      background: #bbccdd;
      color: #333344;
      outline: 5px dotted black;
    }
  } */
a{
     transition: transform 0.3s ease-in-out;
}
a:hover{
     transform: scale(1.2);
}