.info{
    display: grid;
    grid-template-columns: auto auto;
}
.img-1{
    grid-column: 1 / span 2;
}
.cont{
    display: grid;
    grid-template-columns: auto auto;

}
article{
    display: grid;
    text-align: center
}
.cont-2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}
.imagens{
    display: grid;
    justify-items: center;
}
.colhedera{
    width: auto;
    height: auto;

}
.col{
    display: grid;

    -ms-grid-column-align: center;
}